@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.slide-main {
    max-width: 1120px;
    width: 100%;
    /* background-color: gray; */
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    /* background-color: red; */
    overflow: hidden;
    border-radius: 25px;
}

/* Profil fotosu arka plan */
.card {
    border-radius: 25px;
    background-color: #fff;
}

.img-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profil fotosu arkapla üstten boşluğu uzatma. */
.img-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0d1c43;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #0d1c43;
}

/* card sağ alt köşe oval yapımı */
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 35%;
    background-color: #f80000;
    padding: 3px;
}

.card-image:hover {
    background-color: forestgreen;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25%;
    border: 4px solid #000000;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.job {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 10px
}

/* Media Icon Start */
.card-content .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 34px;
    width: 34px;
    font-size: 18px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #0d1c43;
    text-decoration: none;
}

/* Media Icon End */

/* ############################################################################ */

.description {
    font-size: 14px;
    color: gray;
    text-align: center;

}

.card-content .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

/* ############################################################################ */
/* Button Css Start */
.buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #0d1c43;
    cursor: pointer;
    transition: all 0.5s ease;
}

.buttons .button:hover {
    background-color: blue;
}

/* .button {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #0d1c43;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: blue;
} */

/* Button Css End */

/* ############################################################################ */

/* Statistics Css Start */
.statistics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.statistics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}

.data:first-child {
    border-left: 2px solid #e7e7e7;
}

/* .data:last-child {
    border-right: none;
} */

/* Statistics Css End */

/* ############################################################################33333 */


*/ .swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}